<!DOCTYPE html>
<html>
<head>
  <title>Diff</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>
</head>
<body>
<div class="d2h-wrapper">
  {{{content}}}
</div>
</body>
</html>
