# IDE Specific
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# OS Specific
.DS_Store

# Node Specific
node_modules
npm-debug.log
yarn-error.log
release.tar.gz

# Test Specific
coverage/
.coveralls.yml
lib/