workflows:
  version: 2
  node-multi-build:
    jobs:
      - gally-create-pr
      - test-node-v10:
          requires:
            - gally-create-pr
      - test-node-v8.10:
          requires:
            - gally-create-pr
      - gally-auto-merge:
          requires:
            - gally-create-pr
            - test-node-v10
            - test-node-v8.10
          filters:
            branches:
              only: /dependabot\/.*/
      - release:
          requires:
            - gally-create-pr
            - test-node-v10
            - test-node-v8.10
          filters:
            branches:
              only: master
version: 2
jobs:
  gally-create-pr:
    docker:
      - image: 'circleci/node:10'
    steps:
      - checkout
      - run: sudo yarn global add gally
      - run: ga promote $CIRCLE_BRANCH
  gally-auto-merge:
    docker:
      - image: 'circleci/node:10'
    steps:
      - run:
          name: Set PR number
          command: >
            echo 'export
            CIRCLE_PR_NUMBER="${CIRCLE_PR_NUMBER:-${CIRCLE_PULL_REQUEST##*/}}"'
            >> $BASH_ENV

            source $BASH_ENV

            echo $CIRCLE_PR_NUMBER
      - checkout
      - run: sudo yarn global add gally
      - run: >-
          ga approve $CIRCLE_PR_NUMBER --condition
          "base.ref=dev&state=open&user.login=dependabot[bot]"
      - run: >-
          ga merge $CIRCLE_PR_NUMBER --condition
          "base.ref=dev&state=open&user.login=dependabot[bot]"
  test-node-v10:
    docker:
      - image: 'circleci/node:10'
    steps:
      - checkout
      - run: yarn install --frozen-lockfile
      - run: yarn test
      - run:
          command: |
            if [[ "$CIRCLE_BRANCH" =~ ^pull\/* ]]; then
              (git add . && git diff-index --quiet HEAD --) || (git status && exit 1)
            fi
      - run:
          command: |
            if [[ "${CIRCLE_BRANCH}" == "master" ]]; then
              yarn run coveralls
            fi
  test-node-v8.10:
    docker:
      - image: 'circleci/node:8.10'
    steps:
      - checkout
      - run: yarn install --frozen-lockfile
      - run: yarn test
      - run:
          command: |
            if [[ "$CIRCLE_BRANCH" =~ ^pull\/* ]]; then
              (git add . && git diff-index --quiet HEAD --) || (git status && exit 1)
            fi
  release:
    docker:
      - image: 'circleci/node:10'
    steps:
      - checkout
      - run: yarn install --frozen-lockfile
      - run: yarn run semantic-release
